<html>
    <head>
        <title>Django Project blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Project Blog</a></h1>
        </div>

        <div>
            <p>published: 05.08.2023, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>What is the you that you dreamed of? Who do you see in the mirror? I gotta say Go on your path Even if you live for a day Do something Put away your weakness.</p>
        </div>

        <div>
            <p>published: 05.08.2023, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>In the middle of the road, in the moment you want to give up, Shout out even louder: So what?</p>
        </div>
    </body>
</html>